<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>User Status</title>
</head>
<body>
    
    <h1><%= userName %>'s email is registered with email <%= userEmail %>.</h1>
    <a href="http://localhost:3000<%= imagePath %>">image link</a>
    
</body>
</html>