@import "tailwindcss";

.password-input-container{
    position:relative;
    width: 100%;
}

.password-input-container input{
    padding-right: 2.0rem;
}

.password-input-container .toggle-password{
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: green;
}


