* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    
}
.container {
    background-color: #757070;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    color: #ffcc00;
}
.input-container{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
    flex: 1 1 0px;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    word-break: break-all;
}
input{
    flex:10;
    max-width: 300px;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
#add-button {
    flex:2;
    max-width: 50px;
    width: 90%;
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    word-break: break-all;
    font-weight: bold;
}

.list-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    

}
ul{
    list-style: none;
}
.list{
    background-color:#858584;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    flex-wrap: wrap;
    gap: 10px
}
.list:hover{
    background-color: #4c4c4a;
    color: white

}
.text{
    cursor: pointer;
    flex: 10;
    word-break: break-all;

}

.delete-button{
    flex: 2;
    padding: 10px;
    background-color: #cf2020;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    font-weight: bold;
    word-break: break-all;

}

.delete-button:hover{
    background-color: #ff0000;
}


    




