*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
input, button{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #333;
    width: 300px;
}
button{
    cursor: pointer;
    background-color: #ba3799;
    color: #fff;
}
button:hover{
    background-color: #6e2020;
    color: #fff;
}
h3{
 margin-top: 100px;   
}