body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(58, 57, 57);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgb(227, 214, 183);
    width: 90%; /* Responsive width */
    max-width: 400px; /* Maximum width */
    border-radius: 20px;
    padding: 25px; /* Increased padding */
    box-sizing: border-box; /* Include padding in width */
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Take full card width */
    align-items: center;
}

form div {
    width: 100%;
    margin-bottom: 15px;
}

label {
    display: block; /* Ensure label takes full width */
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%; /* Full width of parent container */
    box-sizing: border-box; /* Include padding in width */
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    border-radius: 10px;
    width: 50%; /* Full width button */
    padding: 12px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    background-color: rgb(17, 177, 137);
    color: white;
   
}

h2 {
    text-align: center;
    color: rgb(17, 177, 137);
    margin-bottom: 20px;
}


button:hover {
 
    background-color: rgb(18, 159, 107);
}