@import "tailwindcss";


 /* Your custom CSS after Tailwind imports */
        .password-input-container {
            position: relative;
            width: 100%;
        }

        .password-input-container input {
            padding-right: 2.50rem;
        }

        .password-input-container .toggle-password {
            position: absolute;
            right: 0.75rem;
            top: 30%;
            transform: translateY(-50%);
            cursor: pointer;
            color: gray;
        }

