*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

header{
    background-color: #0077b6;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
header img{
    display: block;
    cursor: pointer;
}
nav ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}
nav ul li{
    font-size: 18px;
    cursor: pointer;
    padding: 8px 12px;
    list-style: none;   
}
nav ul li:hover{
    color: #ffcc00;
}

main{
    flex-grow: 1;
}
footer{
        background-color: #0077b6;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        color: white

}
footer h3{
    margin-bottom: 10px

}

footer ul{
    list-style: none
}

footer ul li{
    margin-bottom: 10px;
    cursor: pointer;
}
footer ul li:hover{
    color: #ffcc00;
}
#products-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);    
    gap: 20px;
    padding: 20px
}

@media (max-width: 1200px) {
    #products-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    #products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    #products-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


.product-card{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;



   
}

.product-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     transform: scale(1.05);
    
}

.product-card img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.details-container h3{
    margin-bottom: 10px;
    color: #0077b6;
    
}
.details-container p{
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}
.details-container button{
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #0077b6;
    color: white;
    cursor: pointer;
}

.add-to-cart-btn:hover{
    background-color: #2336af;

}

/*Cart Sidebar*/

#cart-sidebar{
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height:100%;
    background:#0077b6;
    color:white;
    box-shadow: -2px 0 4px rgba(0,0,0,0.3);
    transition:right 0.4s ease;
    padding: 20px;
    z-index: 9999;
}

#cart-sidebar.active{
    right:0;
}

#cart-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 2px solid rgb(160, 159, 159);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#close-cart{
    cursor: pointer;
    font-size: 30px;
}
#close-cart:hover{
    color:#ffcc00;
}

#cart-items{
    max-height: 85vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    overflow-y:auto;
}
.item{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(27, 66, 81)


}
.item-qty{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.product-description{
    margin-bottom: 10px;
    font-weight: 500;
    color: rgb(219, 216, 216);
    word-break: break-all;
}
.price{
    margin-bottom: 10px;
}
.item button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #b52828;
    color: white;
    cursor: pointer;
}
.item button:hover{
    background-color: #ff0000;
}
.total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-right: 1px;
    border-top: 2px solid rgb(160, 159, 159);
    padding-top: 10px;
}
  







