*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.container{
    background-color: #9f68cf;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
}

h1{
    margin: 20px;
    text-align: center;
    color: #ffcc00;
    word-break: break-all;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    height: 50px;
}
#city{
    flex:9;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    min-width: 100px;
    height: 100%;
}
#search{
    flex: 3;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ffcc00;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    height: 100%;
}
#search:hover{
    background-color: #caa203;
}
.output-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.weather-img-container{
    flex: 1;
    text-align: center;
}
h3{
    font-size: 1.5em;
    margin-top: 10px;
}


.weather-details{
    flex: 1;
    font: 1em sans-serif;
    text-align: center;
    margin-right: 20px;   
}



