*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container{
    background-color: #9f68cf;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
}

h1{
    margin-bottom: 20px;
    color: #ffcc00;
    text-align: center;
    text-wrap: wrap;
}
#question-container{
    margin-bottom: 20px;
    padding: 20px;
    background-color: #292d7e;
    border-radius: 10px;
    color: #9f68cf;
}
#question-text{
    margin-bottom: 10px;
    font-weight: bold;
}
#choices-list{
    list-style: none;
    margin: 0;
    padding: 0;

}
#choices-list li{
    margin-bottom: 10px;
}

#choices-list li input[type="radio"]{
    margin-right: 10px;
}

#next-btn{
    padding: 10px 20px;
    background-color: #ffcc00;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#result-container{
    margin-bottom: 20px;
    padding: 20px;
    background-color: #236143;
    border-radius: 10px;
    color: #9f68cf;
    text-align: center;
}
#result-container h2{
    margin-bottom: 10px;
}

#restart-btn{
    padding: 10px 20px;
    background-color: #77ff00;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-btn{
    padding: 10px 20px;
    background-color: #c81b49;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    
}               

.hidden{
    display: none !important;
}

.changeSize{
    font-size: 20px;  
    height: 150px;
}
