<% if (locals.errorMessage && locals.errorMessage.length > 0) { %>
  <div class="flash-message"
       style="color:white; margin-bottom:10px; background:red;
              text-align:center; height:50px; line-height:50px;
              font-weight:bold;">
    <%= locals.errorMessage %>
  </div>
<% } %>
